* { 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0 auto; 
}

header {
    background-image: url(../img/gato-background.jpg);
    background-position-y: center;
    background-size: cover;
    min-height: 45vh;
    background-repeat: none;  
    display: flex; 
    align-items: center;
    justify-content: space-between;    
}

@media (max-width: 768px) {
    header {
        height: 45vh;
        background-size: 100%;
        background-repeat: none;
        width: 1100px;
        }
 

header h1 {
    color: white;
    font-size: 90px;
    text-align: center;
    margin: 20px;
}

header p {
    color: white;
    font-size: 20px;
    text-align: left;
    width: 80%;
    margin: 30px
}

main div {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

main {
    margin-top:20px;
    width: 800px;
    text-align: center;
    margin-left: 250px;
}

main img {
    width: 230px;
    height: 220px;

}